<!-- ------------------------------- Navbar -------------------------------- -->

<app-navbar></app-navbar>

<!-- ----------------------------- Fin Navbar ------------------------------ -->

<!-- ----------------------------------------------------------------------- -->
<!--                            Componente About                             -->
<!-- ----------------------------------------------------------------------- -->

<div class="mt-5 animated fadeIn">

    <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
        <div class="carousel-inner">
            <div>
                <img src="https://firebasestorage.googleapis.com/v0/b/bdinstitutopedadi.appspot.com/o/pedadiA.jpg?alt=media&token=02dbac65-9e24-42fa-9dc7-e01b5bf7f4e2" class="d-block w-100 responsiveImage" alt="Instituto PEDADI">
            </div>
        </div>
    </div>

    <!-- ---------------------- Historia Instituto Pedadi ---------------------- -->

    <div class="container centerDiv mt-5">
        <div>
            <h2 class="colorPrimary ">
                Nuestra Historia
            </h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo voluptatibus, omnis blanditiis accusantium tempore consequuntur quos ipsam, beatae nisi aut est aliquam reiciendis ipsa odit dicta sed ipsum eligendi natus.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, id aliquam? Accusantium voluptates nemo itaque soluta repellendus, magni dolore tempore inventore, ipsum autem repellat alias exercitationem, est officia expedita officiis.
            </p>
        </div>
    </div>

    <div class="container centerDiv">
        <div class="row">

            <!-- ------------------------------- Mision -------------------------------- -->

            <div class="col-sm-12 col-md-4">
                <h2 class="colorSecondary">
                    Misión
                </h2>
                <p>
                    Formamos líderes empresariales desde sus primeros años de vida gracias al SISTEMA-BWP, un modelo educativo único e innovador, a través del cual nuestros niños desarrollan al máximo las competencias de la educación básica oficial de la SEP en preescolar
                    y primaria; y reciben una extraordinaria formación empresarial que los prepara para ser los grandes empresarios del mañana.
                </p>
            </div>

            <!-- ------------------------------- Vision -------------------------------- -->

            <div class="col-sm-12 col-md-4">
                <h2 class="colorSecondary">
                    Visión
                </h2>
                <p>
                    Ser líderes en la formación de niños empresarios bilingües desde la educación básica, con un modelo educativo condecorado por los principales círculos empresariales de Oaxaca y México, que genera de manera permanente emprendedores en todos sus tipos;
                    alta tecnología, mejor programa de incubación de negocios, programa de movilidad académica asociado a los países e instituciones de mayor crecimiento empresarial y con un poderoso programa de desarrollo.
                </p>
            </div>

            <!-- ------------------------------- Valores ------------------------------- -->
            <div class="col-sm-12 col-md-4">
                <h2 class="colorSecondary">
                    Valores
                </h2>
                <div class="col-12 text-left ">

                    <h5 class="mt-3">
                        <i class="fa fa-leaf fa-2x" style="color:#01478C"></i> &nbsp; Amor por la naturaleza.
                    </h5>
                    <h5 class=" mt-3">
                        <i class="fa fa-space-shuttle fa-2x" style="color:#01478C"></i> &nbsp; Espíritu constructor.
                    </h5>
                    <h5 class="mt-3">
                        <i class="fa fa fa-handshake-o fa-2x" style="color:#01478C"></i> &nbsp; Defensa de la familia.
                    </h5>
                    <h5 class="mt-3">
                        <i class="fa fa fa-podcast fa-2x " style="color:#01478C"></i> &nbsp; Vocación espiritual por la vida.
                    </h5>
                </div>
                <!-- <div class="col-10 ">
                    <h5 class=" ">Amor por la naturaleza</h5>
                </div> -->



                <!-- <ul>
                    <li>
                    </li>
                </ul> -->
            </div>
        </div>
    </div>

    <!-- ----------------------------------------------------------------------- -->
    <!--                            Equipo de trabajo                            -->
    <!-- ----------------------------------------------------------------------- -->
    <div class="container mt-2 ">
    </div>

    <section id="team " class="pb-5 ">
        <div class="container ">
            <h2 class="centerDiv colorPrimary ">
                Nuestro equipo de trabajo
            </h2>
            <div class="row ">

                <!-- ---------------------- Informacion de la persona ---------------------- -->

                <div *ngFor="let personal of pedadiTeam " class="col-xs-12 col-sm-6 col-md-4 ">
                    <div class="image-flip " ontouchstart="this.classList.toggle( 'hover'); ">
                        <div class="mainflip ">

                            <!-- -------------------- Parte frontal del la tarjeta --------------------- -->

                            <div class="frontside ">
                                <div class="card ">
                                    <div class="card-body text-center ">
                                        <p><img class=" img-fluid " [src]='personal.imagen' alt="card image "></p>
                                        <h4 class="card-title "> {{ personal.nombre }} </h4>
                                        <p class="card-text "> {{ personal.puesto }} </p>
                                        <a href="# " class="btn btn-primary btn-sm "><i class="fa fa-plus "></i></a>
                                    </div>
                                </div>
                            </div>

                            <!-- --------------------- Parte trasera de la tarjeta --------------------- -->

                            <div class="backside ">
                                <div class="card ">
                                    <div class="card-body text-center mt-4 ">
                                        <p class="card-text "> {{personal.descripcion}} </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
            </div>
        </div>
    </section>

    <!-- ----------------------------------------------------------------------- -->
    <!--                          Fin Equipo de trabajo                          -->
    <!-- ----------------------------------------------------------------------- -->

</div>

<!-- ----------------------------------------------------------------------- -->
<!--                        Termina componente About                         -->
<!-- ----------------------------------------------------------------------- -->

<!-- ----------------------------------------------------------------------- -->
<!--                                 Fotter                                  -->
<!-- ----------------------------------------------------------------------- -->

<app-footer></app-footer>

<!-- ----------------------------------------------------------------------- -->
<!--                               Fin Footer                                -->
<!-- ----------------------------------------------------------------------- -->