<!-- ------------------------------ Columnas ------------------------------- -->
<div class="bg-azulPedadi">

  <div class="container">

    <div class="row">

      <!-- ---------------------------- icono pedadi ----------------------------- -->

      <div class="col-md-4 col-sm-12">
        <p class="colorLight">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis eius alias ullam maiores! Minima dolore consectetur accusamus doloribus dignissimos provident magni pariatur veniam, sint saepe eaque facilis sunt magnam fugiat.</p>
      </div>

      <!-- -------------------------- Links de paginas --------------------------- -->

      <div class="col-md-4 col-sm-12">
        <p class="colorLight">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam consectetur velit laboriosam dolores est mollitia aliquid, excepturi necessitatibus consequuntur perferendis officiis tempora unde voluptates consequatur deserunt, quo dolorem optio
          cupiditate.
        </p>
      </div>

      <!-- ----------------------------- ubicaciones ----------------------------- -->

      <div class="col-md-4 col-sm-12">
        <p class="colorLight">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus placeat iusto, aspernatur tempore dicta quidem ab atque, in architecto impedit omnis laborum quisquam quo recusandae blanditiis modi. Cupiditate, unde eius!</p>
      </div>
    </div>

  </div>
  <!-- --------------------------- Redes Sociales ---------------------------- -->

  <div class="row">
    <div class="col text-center">
      <h2 class="colorSecondary">Siguenos en nuestras <span class="colorLight">redes sociales</span></h2>
    </div>
  </div>
  <div>
    <footer mb-5>
      <div class="rounded-social-buttons">
        <a class="social-button facebook mr-2" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-f"></i></a>
        <a class="social-button twitter mr-2" href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
        <a class="social-button linkedin mr-2" href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a class="social-button youtube mr-2" href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube"></i></a>
        <a class="social-button instagram mr-2" href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
      </div>
    </footer>
    <br>
  </div>
</div>