<!-- ------------------------------ Columnas ------------------------------- -->
<div class="bg-azulPedadi">

  <div class="container">

    <div class="row">

      <!-- ---------------------------- icono pedadi ----------------------------- -->

      <div class="col-md-4 col-sm-12 mt-3">
        <p class="colorLight">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis eius alias ullam maiores! Minima dolore consectetur accusamus doloribus dignissimos provident magni pariatur veniam, sint saepe eaque facilis sunt magnam fugiat.</p>
      </div>

      <!-- -------------------------- Links de paginas --------------------------- -->

      <div class="col-md-4 col-sm-12 mt-3">
        <h3 class="colorSecondary">Links</h3>
        <div class="colorLight">
          <ul>
            <li *ngFor="let pagina of paginas">
              <!-- <a [href]="pagina.link" class="hov"> {{ pagina.nombre }} </a> -->
              <a [routerLink]="[pagina.link]" routerLinkActive="navTextActive" routerLinkActiveOptions="{exact:true}" class="nav-link pl-0 colorLight"> {{ pagina.nombre}} </a>
            </li>
          </ul>
        </div>
      </div>

      <!-- ----------------------------- ubicaciones ----------------------------- -->

      <div class="col-md-4 col-sm-12 mt-3">
        <h3 class="colorSecondary">Ubícanos</h3>
        <div class="col-12" *ngFor="let referencia of referencias">
          <p class="colorLight"><i [class]='referencia.icono'></i> &nbsp; {{referencia.descripcion}} </p>
        </div>
      </div>
    </div>

  </div>
  <!-- --------------------------- Redes Sociales ---------------------------- -->

  <div class="row mt-2">
    <div class="col text-center">
      <h2 class="colorSecondary">Siguenos en nuestras <span class="colorLight">redes sociales</span></h2>
    </div>
  </div>
  <div>
    <footer mb-5>
      <div class="rounded-social-buttons">
        <a *ngFor="let redSocial of RedSocial" [class]='redSocial.animacion' [href]='redSocial.link' target="_blank"><i [class]='redSocial.icono'></i></a>
      </div>
    </footer>
    <br>
  </div>
</div>