/* nav.navbar {
    background-color: #ffffff !important;
} */

.navText {
    color: #000000 !important;
}

.navTextTop {
    color: #ffffff !important;
}

.navTextActive {
    color: #8FBC23 !important;
}

.navBrand {
    color: #000000 !important;
}

.navbarTop {
    color: #01478C !important;
}